<h1 id="tableLabel">Game Statistic</h1>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Name</th>
      <th>Round 1</th>
      <th>Round 2</th>
      <th>Round 3</th>
      <th>Round 4</th>
      <th>Round 5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ gameStatistic.playerNick }}</td>
      <td>{{ gameStatistic.round1Result.playerWeapon }}</td>
      <td>{{ gameStatistic.round2Result.playerWeapon }}</td>
      <td>{{ gameStatistic.round3Result.playerWeapon }}</td>
      <td>{{ gameStatistic.round4Result.playerWeapon }}</td>
      <td>{{ gameStatistic.round5Result.playerWeapon }}</td>
    </tr>
    <tr>
      <td>{{ gameStatistic.opponentNick }}</td>
      <td>{{ gameStatistic.round1Result.opponentWeapon }}</td>
      <td>{{ gameStatistic.round2Result.opponentWeapon }}</td>
      <td>{{ gameStatistic.round3Result.opponentWeapon }}</td>
      <td>{{ gameStatistic.round4Result.opponentWeapon }}</td>
      <td>{{ gameStatistic.round5Result.opponentWeapon }}</td>
    </tr>
    <tr>
      <td>Your result</td>
      <td>{{ gameStatistic.round1Result.playerResult }}</td>
      <td>{{ gameStatistic.round2Result.playerResult }}</td>
      <td>{{ gameStatistic.round3Result.playerResult }}</td>
      <td>{{ gameStatistic.round4Result.playerResult }}</td>
      <td>{{ gameStatistic.round5Result.playerResult }}</td>
    </tr>
  </tbody>
</table>
