<div *ngIf="game.status === 'Initiated' || game.status === 'NotStarted'">
  <div *ngIf="game.status === 'NotStarted' && !gameWasInitiatedByAnotherPlayer">
    <span>There are no active games. Let's initiate it!</span>
  </div>
  <div *ngIf="game.status === 'Initiated' && waitingForAnotherPlayer">
    <span>Waiting for another player ...</span>
  </div>

  <span *ngIf="gameWasInitiatedByAnotherPlayer"> Join the game and let's play! </span>
  <div *ngIf="game.status === 'NotStarted'">
    <input class="form-control input" placeholder="Enter your nick" [(ngModel)]="player.nick" />
    <button class="btn btn-primary btn-block" (click)="startOrJoinGame()">{{startButtonText}}</button>
  </div>

</div>

<app-game-board *ngIf="game.status === 'InProgress' || game.status === 'Finished'" [player]="player" [opponent]="opponent" [game]="game">
</app-game-board>